<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="menu">
        <div class="file active-menu">File</div>
        <div class="home">Home</div>
    </div>

    <div class="menu-options">
        <div class="file-menu-options active">
            <div class="new">New</div>
            <div class="open">Open</div>
            <div class="save">Save</div>
        </div>
        <div class="home-menu-options">Home Menu Options</div>
    </div>

    <div class="formula-input">
        <input type="text" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="content">
        <!-- Top Left Cell -->
        <div class="top-left-cell"></div>

        <!-- Top Row -->
        <div class="top-row">
            <% for(let i=0 ; i<26 ; i++){%>
                <div class="top-row-cell" cellId="<%=i%>"><%= String.fromCharCode(65+i)%></div>
            <%}%>
        </div>

        <!-- Left Col -->
        <div class="left-col">
            <% for(let i=0 ; i<100 ; i++){%>
                <div class="left-col-cell" cellId="<%=i%>"><%= i+1%></div>
            <%}%>
        </div>
        
        <div class="cells">

            <% for(let i=0 ; i<100 ; i++){%>
                <div class="row">
                    <%for(let j=0 ; j<26 ; j++) {%>
                        <div class="cell" contenteditable="true" rid = "<%=i%>" cid = "<%= j%>"></div>
                    <%}%>
                </div>
            <%}%>
    
        </div>

    </div>


    
    <div class="sheets">Sheets</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>